<br />

<div class="booyah-box col-10 offset-1">
  <h1><%= current_lesson.title %></h1>
  <p>
    <%= current_lesson.subtitle %>
  </p>
<<<<<<< HEAD
=======
  <h1>Lesson Show Page</h1>
>>>>>>> 4af941edbe6481b36f0a97903d195e0319c49ad7
</div>